<style>
.list--review{
display: flex;
flex-direction: row;
}
.item--review{
    width: 17px;
    height: 17px;
}

</style>
<ul class="list list--review">
    <li class="item item--review"><img src="{{"star.png" | asset_url}}" alt=""></li>
    <li class="item item--review"><img src="{{"star.png" | asset_url}}" alt=""></li>
    <li class="item item--review"><img src="{{"star.png" | asset_url}}" alt=""></li>
    <li class="item item--review"><img src="{{"star.png" | asset_url}}" alt=""></li>
    <li class="item item--review"><img src="{{"star.png" | asset_url}}" alt=""></li>
</ul>