<html>
  <head>
    {{
      content_for_header
    }}
  </head>
  <body>
    {{"script.application.js" | asset_url | script_tag}}
    {{ "style.variables.css" | asset_url | stylesheet_tag }}
    {{ "style.base.css" | asset_url | stylesheet_tag }}
    {{ "style.typography.css" | asset_url | stylesheet_tag }}
    {% section "advertisement" %}
    {%section "cart" %}
  
    {{ content_for_layout }}
    {% section "footer" %}
  </body>
</html>
