<html>
  <head>
    {{
      content_for_header
    }}
  </head>
  <body>
    {{ "style.variables.css" | asset_url | stylesheet_tag }}
    {{ "style.base.css" | asset_url | stylesheet_tag }}
    {{ "style.typography.css" | asset_url | stylesheet_tag }}
    {% section "advertisement" %}
    {% section "header" %}
    {% section "home_collection" %}
    {% section "product-banner" %}
    {% section "banner-secondary" %}
    {{ content_for_layout }}
  </body>
</html>
