{{"style.footer.css" | asset_url | stylesheet_tag }}
<footer class="footer">
<div class="footer__contact">
<div class="newslatter">Newslatter</div> 
<form action="#" class="contact-form">
   <input class="contact-form__input" placeholder="Enter your email" type="email">
   <button class="btn btn--contact-form"><img src="{{"arrow-long-black.png" | asset_url }}" alt=""></button>
</form> 
<ul class="list list--socials">
    {% for block in section.blocks %}
    {% if block.type=="slide" %}
    <li class="item item--socials">
        <img src="{{block.settings.social_icon.src | img_url: 'master'}}" alt="">
    </li>
    {%endif%}
    {%endfor%}
   
</ul>

</div>
<div class="footer__navigation">
    {% for block in section.blocks %}
        {% if block.type=="link_list" %}
       <ul class="list list--footer__nav">
        <h5 class="title title--footer__nav">{{block.settings.nav_title}}</h5>
        {% assign footer_linklist = block.settings.menu %}

        {% for link in linklists[footer_linklist].links %}
        <li class="item item--footer__nav">
    <a href="{{link.url}}">{{link.title}}</a>
        </li>
{% endfor %}
       </ul>  
        {% endif %}
    {% endfor %}
</div>
<div class="footer__copyright">©2020 Again Faster. All Rights Reserved</div>

</footer>










{% schema %}
{
    "name":"Footer",
    "blocks":[
    { 
        "name":"Navigation List",
        "type":"link_list",
        "settings":[
        {
            "type":"text",
            "id":"nav_title",
            "label":"nav title"
        },
        {
            "type":"link_list",
            "id":"menu",
            "label":"Menu"

        }
        ]
    },
    {
        "name":"Socials",
        "type":"slide",
        "settings":[
    {
        "type":"url",
        "id":"social_url",
        "label":"Url"
    },
    {
        "type":"image_picker",
        "id":"social_icon",
        "label":"Icon"  
    }
    
    ]
    }
    
    ]
    
    
}
{% endschema %}