{{'https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css' | url | stylesheet_tag }}
{{'https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js' | url | script_tag }}
{{"script.carousel.js" | asset_url | script_tag }}

{{ "style.home_collection.css" | asset_url | stylesheet_tag }}
<section class="collection collection--home">
    <div class="swiper swiper--home-collection">
        <div class="swiper-wrapper swiper-wrapper--home-collection">
          
          {% for collection in section.settings.featured_collections%}
          {%assign collection_data = collection%}

  <!-- {{- collection.title | link_to: collection.url }} -->
  <div class="swiper-slide">
    {% include 'collection-card' with collection_data %}
  </div>

{% endfor %}
        </div>
        <div class="swiper-scrollbar"></div>
</section>
{% schema %}
{
  "name":"Featured Collection",
  "settings":[
  {
    "type":"collection_list",
    "id":"featured_collections",
    "label":"collections"
  }
  ]
}
{% endschema %}