{{'https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css' | url | stylesheet_tag }}
{{'https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js' | url | script_tag }}
{{"script.carousel.js" | asset_url | script_tag }}
{{"script.pdp.js" | asset_url | script_tag }}
{{"style.product_pdp.css" | asset_url | stylesheet_tag }}
{% assign bannerContent = product.metafields.accentuate.section_content %}
{% assign bannerImages = product.metafields.accentuate.section_banner %}
{%include "navigation" %}
<header class="header-pdp">
<div class="gallery">
    <div class="swiper swiper--pdp">
        <div class="swiper-wrapper swiper-wrapper--pdp">
            {% for product_image in product.images %}
                
            <div class="swiper-slide"><img src="{{product_image.src | img_url:"master"}}" alt=""></div>
            {% endfor %}
     
        </div>
        <div class="swiper-pagination"></div>
      </div>

</div>
<div class="content">
<h2 class="product__title">
    {{product.title}}
</h2>
<div class="product__price">
    {{product.price | money_with_currency}}
</div>
<div class="product__reviews">
    <span>
        {% include "reviews" %}
    </span>
    <span>18 reviews</span>

</div>
{%include "affirm"%}
<div class="product__description">
    {{product.description}}
</div>
<form class="variant-form" action="">
<div class="variant-box">
    {% for variant in product.variants %}
    
    <div data-variantId="{{variant.id}}" class="variant">
        <input {% if variant.available==false%}
            disabled
        {% endif %} class="variant__input" type="radio" name="variant" id="{{variant.id}}" value="{{variant.id}}">
    <label {% if variant.available==false%}
  style="opacity: 0.5; text-decoration: line-through;"
{% endif %} class="variant__label" for="{{variant.id}}">{{variant.title}}</label>
    </div>
        
    {% endfor %}
</div>
{% for tag in product.tags %}
    {% if tag=="free-shipping" %}
    <div class="shipping-info">Available for Free shipping!</div>
    {% endif %}
{% endfor %}
<button class="btn btn--add-to-cart">Add to cart</button>
</form>
<div class="header__recommendation">
    <h2 class="title title--header__recommendation">
        Frequently bought with
    </h2>
    <div class="header__recommendation__container">
        {% assign selected_handles = product.metafields.accentuate.bought_with | split: '|' %}
        {% for my_product in selected_handles %}
      
        <div class="header__product-card">
            <img src="{{all_products[my_product].featured_image.src| img_url: 'medium'}}" alt="" class="product-card__img">
            <div class="product-card__content">
                <div class="product-card__name">{{all_products[my_product].title}}</div>
                <div class="product-card_btn">add to cart</div>
            </div>
        </div> 
        {% endfor %}
        
    </div>
</div>
</div>
</header>
<main class="main-pdp">
{% for item in (1..bannerContent.size) %}
    <div class="section-container">
<div class="content-section">
{% if bannerContent[forloop.index0] !=blank %}
    {{bannerContent[forloop.index0]}}
{% endif %}

</div>
<div class="banner">
  
 {% if bannerImages[forloop.index0] !=blank %}
 <img src="{{bannerImages[forloop.index0][0].src}}" alt="img">
 {% endif %}   
</div>
    </div>
{% endfor %}
</main>
<div class="also-like">
<h3 class="also-like__title">
    You might also like
</h3>
<div class="aslo-like__cards-container">
    {% assign selected_handles = product.metafields.accentuate.recommendation | split: '|' %}
 {% for my_product in selected_handles %}
 {% assign collection_data = all_products[my_product] %}
 {% include 'collection-card' with collection_data %}
 {% endfor %}
</div>
</div>
