{{ "style.product-banner.css" | asset_url | stylesheet_tag }}
<section class="product-banner">
  <div class="product-banner__main-img">
    <img src="{{ section.settings.main_image.src | img_url: "1920x" }}" alt="">
  </div>
  <div class="product-banner__sub-img">
    <img
      src="{{ section.settings.sub_image.src | img_url: 'master' }}"
      alt=""
    />
  </div>
  <div class="product-banner__content">
    <div class="content__label">{{ section.settings.label }}</div>
    <h3 class="title title--product-banner">{{ section.settings.title }}</h3>
    <div class="content__description">{{ section.settings.description }}</div>
    <a
      href="{{ section.settings.button_link }}"
      class="cta cta--product-banner"
      >{{ section.settings.button_text }}</a
    >
  </div>
</section>

{% schema %}
 { "name":"Banner Customization", 
 "settings":[ 
 { "type":"text",
"label":"Product Label", 
"id":"label" }, 
{ "type":"text",
 "label":"Product Banner Title", 
"id":"title" 
},
 { "type":"text", 
 "label":"Product Banner Description", 
"id":"description" 
},
 { "type":"image_picker", 
 "label":"Main Image",
 "id":"main_image"
 }, 
{ "type":"image_picker", 
 "label":"Sub Image",
"id":"sub_image"
 }, 
{ "type":"text", 
"id":"button_text",
"label":"button text"
}, 
{ 
  "type":"url", 
  "id":"button_link",
  "label":"button link"
 } 
 ] 
} 
{% endschema %}
