{{"style.plp.css" | asset_url | stylesheet_tag }}
{%render "navigation"%}
<h1 class="title title--plp">{{collection.title}}</h1>
<div class="bread-crumps">    
    {% assign current_title = collection.title %}
 
    {% for item in collections %}
   <!-- {{item.title == current_title}} -->
        {% if item.title == collections[current_title] %}
        <div class="bread-crump bread-crump--active">
            <a href="{{item.url}}" class="bread-crump__link">{{item.title}}</a>
            <span class="bread-crump__slash">/</span>
        </div>
            {% else %}
            <div class="bread-crump ">
                <a href="{{item.url}}" class="bread-crump__link">{{item.title}}</a>
                <span class="bread-crump__slash">/</span>
            </div>
        {% endif %}
    {% endfor %}
</div>
<main class="plp-container">
    {% for current_product in collection.products %}
    <a href="{{current_product.url}}" class="product-card">
     {% include "tags" with current_product %}
     <div class="product-card__img">
         <img src="{{current_product.featured_image.src | img_url:"master"}}" alt="">
     </div>
    <div class="product-card__content">
        <div class="product-name">
{{current_product.title}}
        </div>
        <ul class="list list--review">
            <li class="item item--review"><img src="{{"star.png" | asset_url}}" alt=""></li>
            <li class="item item--review"><img src="{{"star.png" | asset_url}}" alt=""></li>
            <li class="item item--review"><img src="{{"star.png" | asset_url}}" alt=""></li>
            <li class="item item--review"><img src="{{"star.png" | asset_url}}" alt=""></li>
            <li class="item item--review"><img src="{{"star.png" | asset_url}}" alt=""></li>
        </ul>
        <div class="product-price">{{current_product.price | money_with_currency}}</div>
    </div>  
</a> 
    {% endfor %}
</main>
